<h1>USERS!</h1>
<%= link_to 'New User', new_user_path %>
<table>
	<tr>
		<th>ID</th>
		<th>Username</th>
		<th>Email</th>
	</tr>

	<% @users.each do |user| %>
		<tr>
			<td><%= user.id %></td>
			<td><%= user.username %></td>
			<td><%= user.email %></td>
		</tr>
	<% end %>
</table>